body {
	background: linear-gradient(rgba(0, 0, 0, 0.212), rgba(0, 0, 0, 0.486)),
		url(../img/bookshelf.jpg) no-repeat center center / cover;
}

.wrapper {
	text-align: center;
}

#form {
	width: 100%;
}

#file-box {
	width: 100%;
	padding: 2em;
	border-radius: 0.25em;
	border: 2px dashed rgba(0, 0, 0, 0.425);
	position: relative;
}

/* 
	Focus-within: If an element inside the #file-box
   	is focused (e.g: selected by tab) the style will 
	be applied to the #file-box.
*/
#file-box:hover,
#file-box:focus-within {
	border-color: black;
}

#file {
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	opacity: 0;
}

#file-label {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

#submit {
	max-width: 6em;
	align-self: center;
}
